<div class="homepage">
  {% comment %} <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo"> {% endcomment %}
  <h1>Hallos store</h1>
  <p>{% render 'homepage-text' %}</p>
</div>