{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="text-white py-6">
  <p class="text-center text-xl font-bold">{{ page_title }}</p>

  <div class="py-6">
    <nav class=" flex justify-center gap-4">
      {% for link in main_menu_linklist %}
        <a
          href="{{ link.url }}"
          class="cursor-pointer flex items-center rounded-md text-gray-500 hover:text-white"
        >
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>
  </div>

  <div class="flex justify-center mb-4">
    {% for block in section.blocks %}
      {% if block.type == 'social_item' %}
        {% render 'social-item', block: block %}
      {% endif %}
    {% endfor %}
  </div>

  <p class="text-gray-400 text-sm text-center">{{ section.settings.copyright }}</p>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header Menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright text",
      "default": "2025 Marty Supreme. All rights reserved."
    }
  ],
  "blocks": [
    {
      "type": "social_item",
      "name": "Social Media Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Platform name",
          "default": "Instagram"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
